<div class="generic-content">
  <div class="top-banner">
    {{ content.field_banner}}
  </div>
  <div class="clearfix">
    <div class="container">
      <div class="col-left">
        {{ content.field_sidebar_title}}
        {{ content.field_sidebar_body}}
      </div>
      <div class="col-right">
        {{ content.field_video_link}}
        {{ content.field_title}}
        {{ content.body}}
      </div>
    </div>
  </div>
</div>
